<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tester Finder</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<form th:action="@{/bugs/searches}" th:object="${search}" method="post" id="search-form">
    <div class="container">
        <div class="justify-content-md-center text-center form-group">
            <h1>Search Testers</h1>
        </div>
        <div class="row justify-content-md-center form-group">
            <div class="col-sm-2">
                <div class="text-center">
                    <label th:text="Devices"></label>
                </div>
                <ul>
                    <li>
                        <input type="checkbox"
                                class="form-check-input"
                                id="checkAllDevices"/>
                        <label
                                class="form-check-label"
                                th:text="ALL"></label>
                    </li>
                    <li th:each="checkboxValue: ${allDevices}">
                        <input type="checkbox"
                                class="form-check-input devices"
                                th:field="*{devices}"
                                th:value="${checkboxValue}"/>
                        <label
                                th:for="${#ids.prev('devices')}"
                                class="form-check-label"
                                th:text="${checkboxValue}"></label>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <div class="text-center">
                    <label th:text="Countries"></label>
                </div>
                <ul>
                    <li>
                        <input type="checkbox"
                                class="form-check-input"
                                id="checkAllCountries"/>
                        <label
                                class="form-check-label"
                                th:text="ALL"></label>
                    </li>
                    <li th:each="countryValue: ${allCountries}">
                        <input type="checkbox"
                                class="form-check-input countries"
                                th:field="*{countries}"
                                th:value="${countryValue}"/>
                        <label
                                th:for="${#ids.prev('countries')}"
                                class="form-check-label"
                                th:text="${countryValue}"></label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row justify-content-md-center form-group">
            <div class="col-sm-2">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center form-group">
            <div class="col-sm-4">
                <div class="text-center">
                    <div id="results-block">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="../js/jquery-3.4.1.min.js" th:href="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script type="text/javascript" src="../js/custom.js" th:href="@{/js/bootstrap.js}"></script>
<script>
    $(document).ready(function () {
        ajaxSearchCall();
        checkAllDevices();
        checkAllCountries();
    });
</script>
</body>
</html>
