<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tester finder</title>
</head>
<body>
<div th:fragment="results-block" id="results-block">
        <table class="table">
            <thead>
            <tr>
                <th> Tester</th>
                <th> Experience (Bugs)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${resultList.empty}">
                <td colspan="2"> No data available</td>
            </tr>
            <tr th:each="result : ${resultList}">
                <td><span th:text="${result.name}"> Tester </span></td>
                <td><span th:text="${result.bugs}"> Bugs </span></td>
            </tr>
            </tbody>
        </table>
</div>


</body>
</html>
